* {
    box-sizing: border-box;
}

.main {
    display: grid;
    grid-template: max-content / repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 2rem;
    padding: .5rem;
}

.item {
    display: grid;
    grid-template: max-content 1fr /1fr;
    box-shadow: 0 0 4px #716e6e;
    overflow: auto;
}

.title {
    text-align: center;
    font-size: 1rem;
    border-bottom: 1px solid var(--primaryColor);
    padding: .5rem;
}
.content {
    display: grid;
    grid-template: max-content / 1fr;
    grid-auto-rows: max-content;
    gap: 20px;
    justify-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.full {
    grid-column: 1 / -1;
}
.full section{min-height: 150px;}

.full section div {
    box-shadow: 0 0 1px black;
    min-height: 100px;
}